<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <link rel="stylesheet" href="../static/stylesheet/style.css" type="text/css">
</head>
<body>

    <aside class="left">
        <div class="add-todo-form">
            <form action="{{ url_for('save_todo') }}" method="post">
                <label for="title">Title</label>
                <input name="title" type="text" minlength="1" required>
                <label for="message">Details</label>
                <textarea name="message"></textarea>
                <label for="type">Type</label>
                <select name="type">
                {% for type in types_list %}
                    <option>{{ type }}</option>
                {% endfor %}
                </select>
                <fieldset>
                    <legend>Deadline</legend>
                    Year <input name="deadline_year" type="number" min="2017" max="2100" value="{{ date.year }}">
                    Month<input name="deadline_month" type="number" min="1" max="12" value="{{ date.month }}">
                    Day <input name="deadline_day" type="number" min="1" max="31" value="{{ date.day }}">
                    Hour <input name="deadline_hour" type="number" min="0" max="23" value="{{ date.hour }}">
                    Minute <input name="deadline_minute" type="number" min="0" max="59" value="{{ date.minute }}">
                </fieldset>
            
                <button class="button-green" type="submit">Add TODO</button>
            </form>
        </div>
    </aside>
    <aside class="right">
        <div class="add-type-form">
            <form action="{{ url_for('add_type') }}" method="post">
                <label for="new_type">Add new type</label>
                <input name="new_type" type="text" maxlength="20">
                <button class="button-green" type="submit">Add TYPE</button>
            </form>
        </div>
        <div class="type-count">
            {% for i in total_by_type %}
            <div class="type-count-item">
                <h4>{{ i['type'] }}</h4><h4><span id="type-count-number">{{ i['total'] }}</span></h4>
                <button class="button-red"><a href="{{ url_for('delete_type', type_id = i['id']) }}" class="confirmation">delete</a></button>
            </div>
            {% endfor %}  
        </div>
    </aside>

    <div class="main">
        {% for todo in todos %}
        <div class="todo">
            <header>
                <h2>{{ todo['title'] }}</h2>
            </header>
            <p>{{ todo['message'] }}</p>
            <p>{{ todo['creation_time'] }}</p>
            <p>{{ todo['deadline'] }}</p>
            <p>{{ todo['type'] }}</p>
            <p>{{ todo['time_left'] }}</p>
            <button class="button-green"><a href="{{ url_for('delete_todo', todo_id = todo['id']) }}">done</a></button>
        </div>
        {% endfor %}
    </div>
    <script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('All of your TODOs with this label will be DELETED. Are you sure?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>

</body>
</html>